.row
  .large-8.columns
    %h2= 'Определение №%d' % @definition.id
    %p
      %strong Текст:
      = @definition.text
    %p
      %strong Источник:
      = @definition.source || 'н/д'
    %p
      %strong URI:
      = @definition.uri ? link_to(@definition.uri, @definition.uri) : 'н/д'
  .large-4.columns
    = render_cell :entry, :metadata, entry: @definition
