<%= heading_with_title "Синсет-слово №#{@synset_word.id}" %>

<% if @synset_word.examples_ids.size > 0 %>
  <h3>Примеры <span class="badge"><%= @synset_word.examples_ids.size %></span></h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Определение</th>
      <th>Источник</th>
    </tr>

    <% @synset_word.examples.each do |sample| %>
      <tr>
        <td><%= link_to example.text, synset_word_sample_url(@synset, @synset_word, example) %></td>
        <td><%= link_to_unless !example.uri, example.source || 'источник', example.uri %></td>
      </tr>
    <% end %>
  </table>

  <%= render_cell :entry, :metadata, entry: @synset_word %>
<% else %>
  <p>Ещё нет ни одного примера.</p>
<% end %>
