.row
  .large-8.columns
    %h2= 'Пример №%d' % @sample.id
    %p
      %strong Текст:
      = @sample.text
    %p
      %strong Источник:
      = @sample.source || 'н/д'
    %p
      %strong URI:
      = @sample.uri ? link_to(@sample.uri, @sample.uri) : 'н/д'
  .large-4.columns
    = render_cell :entry, :metadata, entry: @sample
