<div id="userbar">
  <% if user_signed_in? %>
    <%= link_to profile_path, :title => 'Профиль' do %>
      <i class="icon icon-user"></i>&nbsp;<%= current_user %>
    <% end %>

    <%= link_to destroy_user_session_path, :method => :delete, :confirm => 'Завершить работу?' do %>
      <i class="icon icon-remove-circle"></i>&nbsp;Выйти
    <% end %>
  <% else %>
    <% unless Rails.env.production? %>
      <%= link_to 'Тестовый вход', user_omniauth_authorize_path(:developer,
        :origin => request.original_url) %>
    <% end %>

    <%= link_to user_omniauth_authorize_path(:github,
      :origin => request.original_url), :id => 'github-auth' do %>
      <i class="icon icon-user"></i>&nbsp;Войти при помощи GitHub
    <% end %>

    <%= link_to user_omniauth_authorize_path(:facebook,
      :origin => request.original_url), :id => 'facebook-auth' do %>
      <i class="icon icon-user"></i>&nbsp;Войти при помощи Facebook
    <% end %>
  <% end %>
</div>
