.row
  .large-8.columns
    %h2= 'Редактирование слова №%d: "%s"' % [@word.id, @word.word]
    = form_for @word do |f|
      - if f.object.errors.any?
        .panel.alert
          %h4 Возникшие ошибки
          %ul
            - f.object.errors.full_messages.each do |msg|
              %li= msg
      .row
        .large-4.columns
          = f.label :word, 'Слово:'
        .large-8.columns
          = f.text_field :word, class: 'expand'
      .row
        .large-4.large-offset-8
          = f.submit 'Отправить', class: %w(button expand)
  .large-4.columns
    = render_cell :entry, :metadata, entry: @word
