.row
  .large-8.columns
    %h2= 'История изменений слова №%d: "%s"' % [@word.id, @word.word]
    - if @history.any?
      %table.large-12
        %tr
          %th Версия
          %th Автор
          %th Дата
          %th Слово
          %th Утв.?
          %th Действие
        %tr
          %td.text-center= @word.revision
          %td.text-center= @word.author ? link_to(@word.author, '#') : 'н/д'
          %td.text-center= @word.updated_at.strftime('%H:%M:%S %d.%m.%Y')
          %td.text-center= @word
          %td.text-center= @word.approved? ? 'да' : 'нет'
          %td.text-center (нет)
        - @history.each do |old_word|
          %tr
            %td.text-center= old_word.revision
            %td.text-center= old_word.author ? link_to(old_word.author, '#') : 'н/д'
            %td.text-center= old_word.created_at.strftime('%H:%M:%S %d.%m.%Y')
            %td.text-center= old_word
            %td.text-center= old_word.approved? ? 'да' : 'нет'
            %td
              = link_to 'Откатиться',
                revert_word_url(@word, revision: old_word.revision),
                class: %w(button expand small)
    - else
      %p Нет истории изменений.
  .large-4.columns
    = render_cell :entry, :metadata, entry: @word
