%h2= 'Синсет №%d' % @synset_word.id
%p
  %strong Автор:
  = @synset_word.author ? link_to(@synset_word.author) : 'н/д'
%p
  %strong Дата редактирования:
  = @synset_word.updated_at
%p
  %strong Версия:
  = @synset_word.revision
%p
  %strong Подтверждённая редакция:
  - if @synset_word.approver_id && @synset_word.approved_at
    = @synset_word.approver
  - else
    нет
%h3= 'Примеры (%d)' % @synset_word.samples_ids.size
%ul
  - @synset_word.samples.each do |sample|
    %li
      = link_to sample.text, synset_word_sample_url(@synset, @synset_word, sample)
      = surround '(', ')' do
        - if sample.uri
          = link_to sample.source || 'источник', sample.uri
%p= @synset_word.inspect
%p= @synset_word.samples
%p= @synset_word.word
%p
  = link_to 'Назад к синсету', synset_url(@synset)
