.row
  .large-8.columns
    %h2= 'Синсет-слово №%d' % @synset_word.id
    %h3= 'Примеры (%d)' % @synset_word.samples_ids.size
    %table.large-12
      %tr
        %th{width: '70%'} Определение
        %th{width: '30%'} Источник
      - @synset_word.samples.each do |sample|
        %tr
          %td.text-justify
            = link_to sample.text, synset_word_sample_url(@synset, @synset_word, sample)
          %td.text-center
            = link_to_unless !sample.uri, sample.source || 'источник', sample.uri
  .large-4.columns
    = render_cell :entry, :metadata, entry: @synset_word
