<div class="row-fluid">
  <div class="span12">
    <h1>Данные</h1>
    <p>Тезаурус <strong>доступен для скачивания</strong> в формате <a href="http://russianword.net/yarn.xml">XML</a> на условиях лицензии <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC&nbsp;BY-SA</a>. Данные представляются в соответствии с нашей <a href="https://github.com/russianwordnet/yarn-formats/blob/master/yarn.xsd">XML Schema</a>. В настоящее время тезаурус содержит:</p>
    <ul class="disc">
      <li>слов &mdash; <%= Word.where(deleted_at: nil).count %>;</li>
      <li>определений&mdash; <%= Definition.where(deleted_at: nil).count %>;</li>
      <li>примеров&mdash; <%= Sample.where(deleted_at: nil).count %>;</li>
      <li>синсетов &mdash; <%= Synset.where(deleted_at: nil).count %>;</li>
      <li>&laquo;сырых&raquo; пар синонимов &mdash; <%= RawSynonymy.count %>.</li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <h2>Статистика по синсетам</h2>
  <table style="width: 100%; text-align: left;" border="1">
    <thead>
      <tr>
        <th style="width: 5%;">ID</th>
        <th style="width: 35%;">Имя пользователя</th>
        <th style="width: 60%;">Синсеты</th>
      </tr>
    </thead>
    <tbody>
    <% Synset.retrieve_creators.each do |user, synsets| %>
      <tr>
        <td style="vertical-align: top;"><%= user.id %></td>
        <td style="vertical-align: top;">
          <%= link_to user, user_path(user) %> (синсетов: <strong><%= synsets.size %></strong>)
        </td>
        <td style="vertical-align: top;">
          <%= synsets.map do |synset|
            link_to(synset.id, synset_path(synset))
          end.join(', ').html_safe %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="row-fluid">
  <h2>Статистика по правкам в синсетах</h2>
  <table style="width: 100%; text-align: left;" border="1">
    <thead>
      <tr>
        <th style="width: 5%;">ID</th>
        <th style="width: 35%;">Имя пользователя</th>
        <th style="width: 60%;">Количество правок</th>
      </tr>
    </thead>
    <tbody>
    <% User.scores.each do |user| %>
      <tr>
        <td style="vertical-align: top;"><%= user.id %></td>
        <td style="vertical-align: top;"><%= link_to user, user_path(user) %></td>
        <td style="vertical-align: top;"><%= user.score %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="row-fluid">
  <p style='text-align: center;'><%= link_to 'Начать работу', editor_path, class: 'btn btn-huge', style: 'background-color: #3D9956; color: white; text-shadow: none;' %></p>
</div>

