<div id="editor-ui">
  <%= render 'shared/yarn_logo' %>
  <%= render 'editor/index/searchbar', :words => @words %>

  <div id="editor-area">
    <div class="row-fluid">
      <%= render 'editor/index/left_pane' %>
      <%= render 'editor/index/right_pane' %>
    </div>

    <%= render 'editor/index/action_pane' %>
    <%= render 'editor/index/add_definition_modal' %>
  </div>
</div>

<script id="listing-tpl" type="text/html">
  <div class="listing definitions">
    <ul>
      {{#definitions}}
        <li data-id="{{id}}" data-word="{{word}}">{{text}}</li>
      {{/definitions}}
    </ul>
  </div>
</script>

<script id="synsets-tpl" type="text/html">
  <div class="listing">
    <ul>
      {{#synsets}}
        <li data-id="{{id}}">{{text}}</li>
      {{/synsets}}
    </ul>
  </div>
</script>

<script id="accordion-tpl" type="text/html">
  <div class="accordion" id="synonymes">
    {{#synonymes}}
      <!-- {{#count}}{{/count}} -->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#synonymes" href="#collapse-{{id}}">
            {{#hasDefinitions}}
              {{#expandFirst}}<i class="icon icon-minus"></i>{{/expandFirst}}
              {{^expandFirst}}<i class="icon icon-plus"></i>{{/expandFirst}}
              &nbsp;
            {{/hasDefinitions}}

            {{word}}

            <span class="add-word" title="Добавить слово в текущий синсет">
              <i class="icon icon-plus-sign-alt" data-word="{{word}}"></i>
            </span>
          </a>
        </div>
        {{#hasDefinitions}}
          <div id="collapse-{{id}}" class="accordion-body collapse {{#expandFirst}}in{{/expandFirst}}">
            <div class="accordion-inner">
              {{>definitions}}
            </div>
          </div>
        {{/hasDefinitions}}
      </div>
    {{/synonymes}}
  </div>

  <div>
    <a href="#" class="dashed-link"><small><i class="icon icon-plus-sign"></i></small>&nbsp;Добавить синоним</a>
  </div>
</script>
