<% if params[:q].present? %>
  <%= heading_with_title "Слова по запросу #{params[:q]}" %>
<% else %>
  <%= heading_with_title "Слова" %>
  <%= link_to 'Добавить слово', new_word_path %>
<% end %>

<% if @words.present? %>
  <ul class="triple-columns">
    <% @words.each do |word| %>
      <li><%= link_to word.word, word_path(word) %></li>
    <% end %>
  </ul>

  <%= paginate @words %>
<% else %>
  <p>Слова не найдены.</p>
<% end %>
