<%= heading_with_title "Синсет №#{@synset.id}" %>

<h3>Слова <span class="badge"><%= @synset.words_ids.size %></span></h3>

<% if @synset.words_ids.size > 0 %>
  <ul>
    <% @synset.words.each do |synset_word| %>
      <li><%= link_to synset_word.word.word, synset_word_url(synset_word) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Ещё нет ни одного слова.</p>
<% end %>

<h3>Определения <span class="badge"><%= @synset.definitions_ids.size %></span></h3>

<% if @synset.definitions_ids.size > 0 %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Определение</th>
      <th>Источник</th>
    </tr>

    <% @synset.definitions.each do |definition| %>
      <tr>
        <td><%= link_to definition.text, synset_definition_path(@synset, definition) %></td>
        <td><%= link_to_unless !definition.uri, definition.source || 'источник', definition.uri %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Ещё нет ни одного определения.</p>
<% end %>

<% options = {entry: @synset} %>
<% options.merge!({edit_uri: edit_synset_url(@synset)}) %>
<%= render_cell :entry, :metadata, options %>
