.row
  .large-8.columns
    %h2= 'Синсет №%d' % @synset.id
    %h3= 'Слова (%d)' % @synset.words_ids.size
    %ul
      - @synset.words.each do |synset_word|
        %li= link_to synset_word.word.word, synset_word_url(@synset, synset_word)
    %h3= 'Определения (%d)' % @synset.definitions_ids.size
    %table.large-12
      %tr
        %th{width: '70%'} Определение
        %th{width: '30%'} Источник
      - @synset.definitions.each do |definition|
        %tr
          %td.text-justify
            = link_to definition.text, synset_definition_url(@synset, definition)
          %td.text-center
            = link_to_unless !definition.uri, definition.source || 'источник', definition.uri
  .large-4.columns
    = render_cell :entry, :metadata, entry: @synset
