<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "ошибка") %> :</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label 'Заголовок' %>
    <%= f.text_field :title, placeholder: 'Текст...', class: 'span6' %>

    <%= f.label 'Ссылка' %>
    <div class='input-prepend'>
      <span class='add-on'><%= posts_url %>/</span>
      <%= f.text_field :slug, class: 'span10' %>
    </div>
    <span class="help-block">Введите человекопонятную ссылку, на латинице</span>

    <br \>

    <%= f.text_area :body, id: 'body-edit' %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>

<%= content_for :javascript do %>
  <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
  <script>tinymce.init({selector:'textarea'});</script>
<% end %>