.row.full-width
  .large-8.columns
    :markdown
      ## Yet Another RussNet
      Проект нового электронного тезауруса русского языка разрабатывается
      совместными усилиями неравнодушных людей из УрФУ, ВШЭ, ИММ УрО РАН
      и Kontur Labs.

      ### Интересно?
      Вы можете присоединиться к нашему проекту. Для этого достаточно
      сообщить нам об этом в списке рассылки.
  .large-4.columns
    .panel
      %h4 Ссылки
      %ul
        %li= link_to 'Черновик XML-схемы', 'https://github.com/xoposhiy/yarn'
        %li= link_to 'Список рассылки', 'https://groups.google.com/group/yarn_org/'
        %li= link_to 'YARN на NLPub', 'http://nlpub.ru/wiki/YARN'
        %li= link_to 'Установка', 'http://nlpub.ru/wiki/YARN/Установка'
        %li= link_to 'Схема данных', 'http://nlpub.ru/wiki/YARN/Данные'
      %h4 Статистика
      %ul
        %li
          %strong Слов:
          = Word.count
        %li
          %strong Синсетов:
          = Synset.count
