<%= with_header_and_footer do %>
  <aside class="span3" id="sidebar">
    <%= render 'shared/yarn_logo' %>
    <%= render 'shared/search' %>
    <%= render 'shared/navigation' %>
  </aside>
  <div class="span9">
    <article>
      <%= yield %>
    </article>
  </div>
<% end %>
    