<%= with_header_and_footer do %>
  <aside class="span3" id="sidebar">
    <%= render 'shared/yarn_logo' %>
    <% if current_user.try(:admin?) -%>
      <%= render 'shared/search' %>
    <% end -%>
    <%= render 'shared/navigation' %>
  </aside>
  <div class="span9">
    <article>
      <%= yield %>
    </article>
  </div>
<% end %>
    
